<div id="custom-search-input">
    <div class="input-group col-md-6">
        <input id="search_input" type="text" name="query" class="search-query form-control"
               placeholder="Search Course..." value="{{queries}}"/>
                <span class="input-group-btn">
                    <button class="btn btn-danger" id="search_btn" type="submit">
                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </span>
    </div>
</div>
