<form >
      <div class="form-group">
        <label for="location1" class="control-label">Start Date</label>
        <select class="form-control" name="" id="location1">
          <option value="">Any</option>
          <option value="">1</option>
          <option value="">2</option>
        </select>
      </div>
      <div class="form-group">
        <label for="type1" class="control-label">Category</label>
        <select class="form-control" name="" id="type1">
          <option value="">Any</option>
          <option value="">1</option>
          <option value="">2</option>
        </select>
      </div>
      <p class="text-right"><button href="#" class="btn btn-Info glyphicon glyphicon-filter" type="submit"></button></p>
 </form>
